*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #f3f4f6;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 2rem;
}
.add-icon {
  height: 4rem;
  width: 4rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 20px #9ca3af;
  z-index: 99;
  position: fixed;
  bottom: 6rem;
  right: 1rem;
  cursor: pointer;
}
.add-icon svg {
  height: 2rem;
  width: 2rem;
  background-color: white;
  border-radius: 50%;
  fill: #4f46e5;
}

.icon-description {
  position: fixed;
  top: 31rem;
  right: 8rem;
  padding: 0.5rem;
  box-shadow: 0 0 10px #9ca3af;
  color: #4f46e5;
  font-weight: bold;
  background: white;
  display: none;
  border-radius: 0.2rem;
}

.add-icon:hover ~ .icon-description {
  display: block;
}

.search-bar {
  align-self: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  /* margin-top: 2rem; */
  /* width: 20rem; */
  width: 80%;
  max-width: 30rem;
}

.search-bar svg {
  width: 2rem;
  position: absolute;
  padding: 0.4rem;
}

.search-icon {
  fill: #767b91;
  left: 0.5rem;
}

.search-input {
  padding: 1rem 3rem;
  outline: none;
  border: none;
  box-shadow: 0 0 10px #9ca3af;
  font-family: inherit;
  border-radius: 0.2rem;
  width: 100%;
  /* max-width: 80%; */
  font-size: 1rem;
}
.search-input:not(:placeholder-shown) ~ .search-delete {
  display: block;
}

.search-delete {
  fill: #c7ccdb;
  right: 0.5rem;
  display: none;
  cursor: pointer;
}
